<section class="choice">
    <section class="container">
        <section class="choice-content">
            <h1 class="choice-title common-title">Выберите <span>тему теста</span></h1>
            <section class="choice-description">
                Чтобы начать тест, выберите одну из предложенных ниже тем.
            </section>
            <section class="choice-options" id="choice-options"></section>
        </section>
        <section class="choice-image">
            <img src="assets/images/choice_image.png" alt="Persons">
        </section>
    </section>
</section>