<section class="form">
    <section class="container">
        <section class="form-content">
            <h1 class="form-title common-title"><span>Вход</span> в систему</h1>
            <section class="form-details">
                <section class="form-group">
                    <input type="text" class="form-input" id="email" required>
                    <label for="email" class="form-label">Электронная почта</label>
                </section>
                <section class="form-group">
                    <input type="password" class="form-input" id="password" required>
                    <label for="password" class="form-label">Пароль</label>
                </section>
            </section>
            <section class="form-button">
                <button class="button" disabled id="process">Перейти к выбору теста</button>
            </section>
            <section class="form-link">
                Нет аккаунта?
                <a href="/#/signup">Зарегистрироваться</a>
            </section>
        </section>
        <section class="form-images">
            <img src="assets/images/info_image.png" alt="Info image">
        </section>
    </section>
</section>