<section class="form">
    <section class="container">
        <section class="form-content">
            <h1 class="form-title common-title">Регистрация</h1>
            <section class="form-details">
                <section class="form-group">
                    <input type="text" class="form-input" id="name" required>
                    <label for="name" class="form-label">Имя</label>
                </section>
                <section class="form-group">
                    <input type="text" class="form-input" id="last-name" required>
                    <label for="last-name" class="form-label">Фамилия</label>
                </section>
                <section class="form-group">
                    <input type="text" class="form-input" id="email" required>
                    <label for="email" class="form-label">Электронная почта</label>
                </section>
                <section class="form-group">
                    <input type="password" class="form-input" id="password" required>
                    <label for="password" class="form-label">Пароль</label>
                </section>
                <section class="form-agree">
                    <input type="checkbox" id="agree" required>
                    <label for="agree">
                        Я ознакомлен <a href="#">с правилами сайта</a>
                    </label>
                </section>
            </section>
            <section class="form-button">
                <button class="button" disabled id="process">Перейти к выбору теста</button>
            </section>
            <section class="form-link">
                Уже зарегистрированы?
                <a href="/#/login">Войти</a>
            </section>
        </section>
        <section class="form-images">
            <img src="assets/images/info_image.png" alt="Info image">
        </section>
    </section>
</section>