<section class="test">
    <section class="container">
        <section class="test-pre-title" id="pre-title">
            Тест №1. “JavaScript: Начальный уровень”
        </section>
        <section class="test-progress-bar" id="progress-bar"></section>
        <section class="test-question">
            <section class="test-question-title" id="title"></section>
            <section class="test-question-options" id="options"></section>
        </section>
        <section class="test-actions">
            <section class="test-previous-action">
                <button class="button button-transparent" id="prev" disabled>Назад</button>
            </section>
            <section class="test-time">
                <section class="test-time-text">Осталось времени</section>
                <section class="test-time-clock" id="timer">59</section>
            </section>
            <section class="test-next-action">
                <button class="button button-transparent" id="next" disabled>Дальше</button>
            </section>
        </section>
        <section class="pass-question">
            <button class="pass-question-btn" id="pass">
                <span>Пропустить вопрос</span>
                <div></div>
            </button>
        </section>
    </section>
</section>