<section class="right">
    <section class="container">
        <section class="right-breadcrumb">
            <ul class="breadcrumb-items">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)" class="back-to-results">Результат прохождения теста</a>
                    <img src="assets/images/small_arrow2.png" alt="small_arrow">
                </li>
                <li class="breadcrumb-item active" id="test-title"></li>
            </ul>
        </section>
        <h1 class="big-title right-title"><span>Правильные ответы</span> к тесту</h1>
        <section class="right-description">Тест выполнил <span id="user"></span>
        </section>
        <section class="right-questions" id="questions">
        </section>
        <section class="pass-right back-to-results">
            <a href="javascript:void(0)">Обратно к моему результату теста
                <img src="assets/images/small_arrow.png" alt="small_arrow">
            </a>
        </section>
    </section>
</section>